@import "tailwindcss";

:root {
  --font-inconsolata: "Inconsolata", monospace;
  --orange: hsl(7, 71%, 60%);
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400 500 700 800;
  font-style: normal;
}

.bg-orange {
  background-color: var(--orange);
}

body {
  font-family: var(--font-inconsolata), Arial, Helvetica, sans-serif;
  background: url("/assets/images/background-desktop.webp") center/cover no-repeat fixed;
  background-image: image-set(
    url("/assets/images/background-desktop.webp") type("image/webp"),
  );
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  body {
    background: url("/assets/images/background-mobile.png") center/cover no-repeat fixed;
    background-image: image-set(
      url("/assets/images/background-mobile.png") type("image/png")
    );
  }
}
@media (max-width: 768px) {
  body {
    background: url("/assets/images/background-tablet.png") center/cover no-repeat fixed;
    background-image: image-set(
      url("/assets/images/background-tablet.png") type("image/png")
    );
  }
}
